.form-registro{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5f5f5;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 5%;
}
hr{
	width: 98%;
	border-top: 1px solid #ddd;
}
.enviarFicha{
	float: right;
}
.fichaCaraterizacion{
	margin-left: 5%;
	margin-right: 5%;
}